@import url("https://use.typekit.net/dyy4rof.css");

.container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    height: 1100px;
    width: 90%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    vertical-align: middle;
}
.Contact{
    position: relative;
    width: 40%;
    top:17%;
    left: 4.9%;
}
.Contact h5{
    font-family: muli;
    position: relative;
    color: #14ACB7;
    font-size: 4rem;
    font-weight: 900;
    line-height: 3rem;
    padding-bottom: 6vh;
}
.Contact p{
    color: #212121;
    width:90%;
    font-family: muli;
    font-size: 1.4rem;
}
.form{
    background-color: white;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    border-radius: 46px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    height: 900px;
    width: 45%;
    border-radius: 40px;
    position: absolute;
    margin-top: 0;
    top: 35%;
    left: 45%;
    margin: 0;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 20vh;
    top: 50%;
    left: 5%;
}
.name label{
    color: black;
    font-family: muli;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.name input{
    border: 2px solid;
    height: 6vh;
    border-radius: 4px;
    border-color: #14ACB7;
    color: black;
    width: 95%;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 90%;
    top: 30%;
    left: 5%;
}
.email label{
    color: black;
    font-family: muli;
    font-size: 01.3rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.email input{
     border: 2px solid;
    height: 6vh;
    border-radius: 4px;
    border-color: #14ACB7;
    color: black;
    width: 95%;
}
.fonction{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: 45px;
    left: 5%;
    font-family: muli;
    height: 60%;
    width: 90%;
}
.fonction h5{
    color: black;
    font-family: muli;
    font-size: 01.3rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.fonction .etud {
    position: relative;
    padding-top: 5px;
    width: 13vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: normal;
    font-size: 1rem;
    font-weight: 600;
}
.fonction .prof{
    position: relative;
    padding-top: 5px;
    width: 13vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: normal;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 10px;
}
.fonction .employe{
    position: absolute;
    top: 12%;
    left: 50%;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: normal;
    font-size: 1rem;
    font-weight: 600;
}
.fonction .autre{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: normal;
    font-size: 1rem;
    font-weight: 600;
}
::placeholder{
    font-size: 1rem;
    padding-top: 1px;
    padding-left: 10px;
    opacity: 0.5;
}
img{
    pointer-events: none;
}
.msg{
    position: relative;
    top:3px;
    height: 200px;
    width: 95.4%;
}
input[type="text"]
{
    font-size:24px;
    padding-left: 7px;
}
input[type="email"]
{
    font-size:24px;
    padding-left: 7px;
}
.msg h5{
    left: 5%;
    padding-bottom:20px;
    font-family: muli;
    font-size: 1.3rem;
    font-weight: bold;
}
.msg textarea{
    width: 100%;
    border: 2px solid;
    border-radius: 5px;
    border-color: #14ACB7;
    height: 200px;
    resize: none;
}
input:hover{
    border-color: rgb(91, 91, 185);
}
input:focus{
    outline: #14ACB7;
    border-width: 1.5px;
}
.fonction button{
    background-color: #14ACB7;
    position: relative;
    top: 80px;
    left: 39%;
    border-style: none;
    border-radius: 5px;
    overflow-wrap: break-word;
    height: 5vh;
    width: 8vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}
button:hover{
    cursor: pointer;
    top: 79px ;
}
textarea::placeholder{
    font-size: 20px;
}
textarea{
    font-size: 20px;
    padding-left: 7px;
    padding-top: 3px;
}
textarea:focus{
    outline: #14ACB7;
    border-width: 1.5px;
}


















 
