@import url("https://use.typekit.net/dyy4rof.css");
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: none;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
section {
  background-color: white;
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
nav a img {
  position: relative;
  width: 100%;
  height: 7vh;
  margin-left: 5vw;
  margin-top: 1vh;
}
ul {
  margin: 3.5vh 9vw 0 0;
}
nav ul li {
  display: inline;
  width: 100%;
  list-style: none;
  position: relative;
  margin-top: 0vh;
  word-spacing: 5.8vw;
}
nav ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: muli;
  font-size: 15px;
  font-weight: bold;
  word-spacing: normal;
  text-transform: uppercase;
}
footer {
  margin-top: 50px;
  background: #f3f3f3;
  flex-shrink: 0;
  height: 20vh;
  width: 100%;
}
.contain {
  flex: 1 0 auto;
}
.logo {
  position: relative;
  width: 7%;
  height: 80%;
  margin: 0 auto;
  margin-top: 3vh;
}
.rect {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.social ul {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}
.social ul li {
  list-style: none;
}
.sticky {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
}
